<md-content>

    <md-toolbar>
        <div class="md-toolbar-tools toolbar-class">
            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon md-svg-icon="./img/icons/cdb-logo.svg"></md-icon>
            </md-button>

            <h2 flex md-truncate>Cidadão de Bolso</h2>

            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon><i class="fa fa-search" aria-hidden="true"></i>
                </md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="More">
                <md-icon><i class="fa fa-plus" aria-hidden="true"></i>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

   



    <div flex ui-view="content" class="main"></div>

</md-content>

##### DE BOLSO #####