@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

html,
body {
    background-color: #FFFCF7;
    height: 100%;
    font-family: 'Ruda', sans-serif;
}

.toolbar-class {
    background-color: #3C362A;
}


.content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 100%;
    background-color: transparent;
}

.card-footer {
    position: fixed;
    bottom: 0;
    height: 8%;
    width: 100%;
    padding: 1% 0;
    color: white;
    background-color: #3C362A;
}

.card-footer md-icon{
    color:white;
}

.card-footer a{
    margin: .5%;
}

.card-footer small {
    margin-bottom: 0.5%;
}

question-detail md-list-item  {
    background-color: #FFFFFF;
    margin-top: 3%;
}

question-detail small {
    font-size: 10px;
}

question-detail p {
     width: 250px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}