@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

html,
body {
    background-color: #FFFCF7;
    height: 100%;
    font-family: 'Ruda', sans-serif;
}

.toolbar-class {
    background-color: #3C362A;
}