@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

html,
body {
    background-color: #FFFCF7;
    min-height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.toolbar-class {
    background-color: #3C362A;
}


.content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 100%;
    background-color: transparent;
}

.card-footer {
    bottom: 0;
    height: 8%;
    width: 100%;
    padding: 1% 0;
    color: white;
    background-color: #3C362A;
}


.wrapper{
  display: flex;
  flex-direction: column;            
  height: 100vh;
  overflow: hidden;
}

.main {
    height: 100%;
    min-height: 600px;
}


header {
    top:0; 
    flex: 0 0 auto; 
}

footer {
    bottom: 0;
}


.card-footer md-icon{
    color:white;
    bottom: 0;
}

.card-footer a{
    margin: .5%;
}

.card-footer small {
    margin-bottom: 0.5%;
}

question-detail md-list-item  {
    padding: .5%;
    background-color: #FFFFFF;
    margin-top: 1%;
}

question-detail small {
    font-size: 10px;
}

question-detail p {
     width: 250px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

question-detail .sidebar {
    
    position: absolute; 
    right: 0; 
    top: 0;
    margin-top: 1%;
    margin-right: 5%;

}

question-detail .sidebar md-icon {
    display: block;
    padding: 2px;
}

like-question .like-box{
    top: 0;
    left: 0; 
    height: 10%;
    max-height: 20%;
}

like-question .like-box .title{
    padding-left: 1%;
}

like-question md-chip {
    height: 5px;
    font-size: 14px;
    background-color: #895737; 
    color: white;
}

text-reader .page {
  margin: 0 auto;
  padding: 24px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); 
}

text-reader .page p {
  line-height: 1.6rem; 
  text-align: justify;
}